html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover{
    text-decoration: none;
}

*{
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

.clear{
	clear: both;
}

body{
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
}

footer{
	font-family: 'Montserrat', sans-serif;
}

.opacity_0{
	opacity: 0;
}

.opacity_1{
	opacity: 1;
} 

.center{
	text-align: center;
}

.gold{
	color: #eeb013;
}

.button{
	border: 2px solid #ececec;
	padding: 16px 58px;
	color: #141414;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

.button:hover{
	color: #eeb013;
	border-color: #eeb013;
}

footer{
	hr{
			border-top: 3px solid #f6b138;
			width: 19px;
	}
}

.footer_title{
	margin-bottom: 21px;
	a{
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		color: white;
	}
}

#ex12c{
	width: 100%;
}

#slider12c .slider-selection {
	background: #141414;
}


.slider.slider-horizontal{
	.slider-track{
		border-radius: 0px;
		background: #909090;
		width: 100%;
	}
}

.slider.slider-horizontal .slider-handle{
	opacity: 1;
	background: #eeb013;
}

